<div class="flex justify-content-center bar align-items-center">
    <div class="flex w-9 justify-content-between text-lg">
        <div>
            logo
        </div>
        <div>
            <input type="text" pInputText placeholder="Search" class="w-20rem" />
        </div>
        <div class="flex flex-row gap-2">
            <div *ngFor="let item of items" class="flex flex-column test">
                <a class="mr-3 align-items-center cursor-pointer ">
                    <div class="dropdown">
                        <div class="hover:text-primary" routerLink="{{item.routerLink}}">
                            <span [class]="item.icon"></span>
                            <span class="ml-2">{{ item.label }}</span>
                        </div>
                        <div class="dropdown-content">
                            <div *ngFor="let subitem of item.items" class="hover:text-primary">
                                <div>{{subitem.label}}</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<style>
    .bar{
        height: 50px;
    }
    .dropdown{
        display: inline-block;
    }
    .dropdown-content{
        display: none;
        position: absolute;
    }
    .dropdown:hover .dropdown-content{
        display: block;
    }
</style>