<div class="flex flex-column basket">
    <div class="flex flex-row gap-4 basket-item">
        <div>
            resim
        </div>
        <div>
            ürün adı
        </div>
        <div>
            fiyat
        </div>
        <div>
            X
        </div>
    </div>
    <div>
        Toplam Tutar: 5687 TL
    </div>
</div>

<style>
    .basket{
        position: absolute;
        background-color: rgb(243, 234, 228);
        border: 1px solid rgb(153, 153, 155);
        border-radius: 5px;
    }
    .basket-item div{
        border: 1px solid;
    }
</style>