<div class="flex flex-wrap ml-3 gap-6">
    <div class="card hover:text-primary transition-shadow duration-200 ease-in-out transform hover:scale-105 cursor-pointer" *ngFor="let item of items" (click)="routeProductDetail(item.productId)">
        <div class="card-image">
            <img src="{{item.productUrl}}" alt="Product Image">
        </div>
        <div class="card-content p-2">
            <span class="font-bold block overflow-hidden white-space-nowrap text-overflow-ellipsis text-lg">{{item.productName}}</span>
            <p class="text-gray-600 overflow-hidden white-space-nowrap text-overflow-ellipsis text-sm">{{item.productDescription}}</p>
            <span class="text-primary font-semibold mt-1 block">{{item.productPrice}} TL</span>
        </div>
    </div>
</div>

<p-paginator
    [totalRecords]="totalItems"
    [rows]="pageSize"
    (onPageChange)="onPageChange($event)"
    class="mt-4"
></p-paginator>

<style>
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid rgb(204, 204, 204);
        border-radius: 10px;
        height: 260px;
        width: 180px;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease;
    }
    
    .card:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
    
    .card-image {
        height: 60%;
        border-radius: 10px 10px 0 0;
        overflow: hidden;
    }
    
    .card-image img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        border-bottom: 1px solid rgb(216, 192, 148);
    }
    
    .card-content {
        padding: 10px;
    }
</style>
