<div class="flex justify-content-center">
    <div class="flex w-9">
        <div class="flex flex-column w-full mt-5 gap-2">
            <h2 class="flex justify-content-center">Siparişlerim</h2>
            <div class="flex justify-content-between align-items-center gap-3 border" >
                <div class="flex flex-column gap-1">
                    <span class="font-bold">Sipariş Tarihi</span>
                    <span class="order-date">2024-09-18</span>
                </div>
                <div class="flex flex-column gap-1">
                    <span class="font-bold">Sipariş Kodu</span>
                    <span class="order-code">0000000002</span>
                </div>
                <div class="flex flex-column gap-1">
                    <span class="font-bold">Sipariş Durumu</span>
                    <span class="order-status">Sipariş Alındı</span>
                </div>
                <div class="flex flex-column gap-1">
                    <span class="font-bold">Toplam Tutar</span>
                    <span class="price">320.99 TL</span>
                </div>
                <p-button styleClass="p-2">Sipariş Detayları</p-button>
            </div>

            
        </div>
    </div>
</div>

<style>
    .border {
        padding: 15px;
        border: 1px solid rgb(199, 197, 197);
        border-radius: 5px;
    }

    .border:hover {
        border: 1px solid rgb(133, 133, 133);
    }

    .order-status {
        border-radius: 5px;
        background-color: greenyellow;
        width: max-content;
        padding: 4px;
    }

    .price {
        border-radius: 5px;
        background-color: rgb(255, 178, 76);
        width: max-content;
        padding: 4px;
    }

    .order-date {
        border-radius: 5px;
        background-color: rgb(255, 178, 76);
        width: max-content;
        padding: 4px;
    }
    .order-code {
        border-radius: 5px;
        background-color: rgb(177, 177, 177);
        width: max-content;
        padding: 4px;
    }

    @media (max-width:600px) {
        .border {
            border: none;
        }
    }
</style>