<div class="card">
    <p-table 
    
    [value]="orders" 
    paginator="true"
    [rowsPerPageOptions]="[5, 10, 20]"
    [rows]="5"
    [tableStyle]="{ 'min-width': '50rem', 'padding':'50px 50px 0px 50px'}"
    >
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name" style="width:20%">İsim <p-sortIcon field="name" /></th>
                <th>Toplam Fiyat</th>
                <th>Sipariş Tarihi</th>
                <th>Sipariş Durumu</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order>
            <tr>
                <td>{{ order.name }}</td>
                <td>{{ order.totalPrice }}</td>
                <td>{{ order.orderDate }}</td>
                <td>
                    <p-tag [severity]="getSeverity(order.orderStatus)" value="{{order.orderStatus}}" />
                </td>
                <td>
                        <p-button 
                            icon="pi pi-pencil" 
                            class="mr-2" 
                            [rounded]="true" 
                            [outlined]="true" 
                            severity="success" 
                            (onClick)="editOrder(order.orderId)"
                            />
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div class="card flex justify-content-center">
    <p-dialog header="Edit Profile" [modal]="true" [(visible)]="visible" >
        <span class="p-text-secondary block mb-5">Update your information.</span>

        <div *ngIf="updateOrderModel" class="h-25rem">   
            <div class="flex flex-column gap-2">
                <label>Adres: {{updateOrderModel.address}}</label>
                <label>Toplam Fiyat: {{updateOrderModel.totalPrice}}</label> 
                <label>Sipariş Tarihi: {{updateOrderModel.orderDate}}</label> 
                <p-dropdown 
                [options]="orderStatuses"
                [(ngModel)]="selectedStatus"
                placeholder="{{updateOrderModel.orderStatus}}"
                optionLabel="status" 
                (onChange)="selectStatus()"
                >
                    <ng-template pTemplate="item" let-item>
                        <div class="custom-item">
                            <p-tag value="{{item.status}}" [severity]="getSeverity(item.status)"></p-tag>
                        </div>
                    </ng-template>
                </p-dropdown>
                <div *ngFor="let item of updateOrderModel.orderDetails">
                    {{item.productName}}
                </div>

                    <div class="flex justify-content-around ">
                        <p-button label="Kaydet" (onClick)="onSubmit()"/>
                        <p-button label="İptal" (onClick)="hideDialog()"/>
                    </div>
            </div>
        </div>

        <!-- Veriler yüklenmezse bir yükleme göstergesi veya uyarı -->
        <div *ngIf="!updateOrderModel">
            <p>Veriler yükleniyor...</p>
        </div>

    </p-dialog>
</div>
