<div class="flex justify-content-center hr">
    <div class="flex justify-content-start w-9 gap-4 mt-3 mb-3">
        <a class="cursor-pointer hover:text-primary text-sm">
            <a>Kategori 1</a>
        </a>
        <a class="cursor-pointer hover:text-primary text-sm">
            <a>Kategori 2</a>
        </a>
    </div>
</div>


<style>
    * {
        margin: 0;
        padding: 0;
        --hrcolor: rgb(235, 207, 186);
    }
    .hr {
        border-bottom: 1px solid var(--hrcolor);
    }
</style>