<div class="flex justify-content-center mt-5">
    <div class="flex flex-column w-9">
        <div class="flex flex-row">
            <div class="flex flex-row" style="width: 100%;">
                <div class="image-area">
                    <div class="flex flex-column">
                        <div class="selected-image">
                            <img src="{{selectedImage}}" alt="Selected Image">
                        </div>
                        <div class="flex flex-row justify-content-center gap-2 small-images">
                            <div *ngFor="let item of images">
                                <img (mouseover)="setMainImage(item.imageUrl)" src="{{item.imageUrl}}" alt="Small Image">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-column desc-area p-3">
                    <div class="title-product">
                        {{product.name}}
                    </div>
                    <div class="price text-primary">
                        {{product.price}} TL
                    </div>
                    <div class="flex justify-content-between add-to-basket gap-3 mt-3">
                        <button (click)="addProductToBasket(product.id)">Sepete Ekle</button>
                        <div class="favorite">
                            <i class="pi pi-heart"></i>
                        </div>
                    </div>
                    <div class="mt-3 text-secondary">
                        Öne Çıkan Özellikleri <br>
                        {{product.description}}
                    </div>
                </div>
                <div class="flex justify-content-center company-area p-3">
                    <div class="flex flex-column gap-4">
                        <div class="flex justify-content-between align-items-center gap-3 coupon-area">
                            <i class="pi pi-box"></i>
                            <span>%5 İndirim</span>
                            <i class="pi pi-angle-right right"></i>
                        </div>
                        <div class="flex justify-content-center firm-area mt-3">
                            <div class="flex flex-column">
                                <div>
                                    <span>HD SOFT AŞ.</span>
                                </div>
                                <div class="flex align-items-center route-firm mt-2">
                                    <span>Mağazaya Git</span>
                                    <i class="pi pi-angle-right right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4">
            bla bla....
        </div>
    </div>
</div>

<style>
    .image-area {
        width: 30%;
    }

    .desc-area {
        width: 50%;
    }

    .company-area {
        width: 20%;
    }

    .selected-image img {
        width: 100%;
        height: 400px;
        object-fit: contain;
        border: 1px solid rgb(216, 192, 148);
        padding: 10px;
        border-radius: 10px;
    }

    .small-images {
        margin-top: 10px;
        justify-content: space-around;
    }

    .small-images div img {
        width: 80px;
        height: 80px;
        border: 1px solid rgb(184, 176, 163);
        border-radius: 5px;
        object-fit: contain;
        transition: transform 0.2s ease-in-out;
    }

    .small-images div img:hover {
        border: 2px solid rgb(216, 149, 42);
        cursor: pointer;
        transform: scale(1.1);
    }

    .add-to-basket button {
        background-color: rgb(218, 129, 27);
        border: none;
        border-radius: 5px;
        padding: 10px;
        color: white;
        font-size: 20px;
        width: 80%;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .add-to-basket button:hover {
        background-color: rgb(151, 85, 8);
    }

    .favorite {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border: 1px solid;
        color: gray;
        border-radius: 100%;
        cursor: pointer;
        transition: color 0.3s ease;
    }

    .favorite i {
        font-size: 25px;
    }

    .favorite:hover i {
        color: rgb(218, 129, 27);
    }

    .title-product {
        font-size: 28px;
        font-weight: bold;
    }

    .price {
        font-size: 24px;
        font-weight: bold;
        margin-top: 10px;
    }

    .coupon-area {
        font-size: 18px;
        cursor: pointer;
        border: 1px solid rgb(175, 175, 175);
        border-radius: 5px;
        padding: 8px;
        transition: border-color 0.3s ease;
    }

    .coupon-area i {
        font-size: 22px;
    }

    .coupon-area:hover {
        border-color: orange;
    }

    .route-firm {
        cursor: pointer;
        font-size: 18px;
        transition: color 0.3s ease;
    }

    .route-firm:hover {
        color: rgb(218, 129, 27);
    }
</style>
