<div class="flex justify-content-center mt-5">
    <div class="flex flex-column w-9" >
        <div class="flex flex-row">
                <div class="flex flex-row">
                    <div class="image-area">
                        <div class="flex flex-column">
                                <div class="selected-image"><!--seçilen resim-->
                                    <img src="https://cdn.dsmcdn.com/ty1498/product/media/images/prod/QC/20240822/12/f409e6b5-ac60-363e-a3df-b52857a89bac/1_org_zoom.jpg">
                                </div>
                                <div class="flex flex-row justify-content-center gap-2 small-images"> <!--kücük resimler-->
                                    <div><!--resim 1-->
                                        <img src="https://cdn.dsmcdn.com/ty1498/product/media/images/prod/QC/20240822/12/f409e6b5-ac60-363e-a3df-b52857a89bac/1_org_zoom.jpg">
                                    </div>
                                    <div><!--resim 2-->
                                        <img src="https://cdn.dsmcdn.com/ty1498/product/media/images/prod/QC/20240822/12/f409e6b5-ac60-363e-a3df-b52857a89bac/1_org_zoom.jpg">
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="flex flex-column desc-area">
                       <div class="title-product">
                            Graizer Alman 20 Hp Yan Tipi Benzinli Motorlu Ot Çalı Tırpanı Çim Biçme Makinesi    Tirpan Çapa Aparati
                       </div>
                       <div class="price">
                            1500 TL
                       </div>
                       <div class="flex justify-content-between add-to-basket gap-2">
                           <button>Sepete Ekle</button>
                           <div class="favorite">
                            <i class="pi pi-heart"></i>
                           </div>
                       </div>
                       <div>
                        Öne Çıkan Özellikleri
                       </div>
                    </div>
                    <div class="flex justify-content-center company-area">
                        <div class="flex flex-column gap-4">
                            <div class="flex justify-content-between align-items-center gap-3 coupon-area">
                                <i class="pi pi-box"></i>
                                <span>%5 İndirim</span>
                                <i class="pi pi-angle-right right"></i>
                            </div>
                            <div class="flex justify-content-center firm-area">
                                <div class="flex flex-column">
                                    <div>
                                        <span>HD SOFT AŞ.</span>
                                    </div>
                                    <div class="flex align-items-center route-firm">
                                        <span>Mağazaya Git</span>
                                        <i class="pi pi-angle-right right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <div>
            bla bla....
        </div>
    </div>
</div>

<style>
    .image-area{
        width: 30%;
    }
    .desc-area{
        width: 50%;
    }
    .company-area{
        border: 1px solid;
        width: 20%;
    }
    .selected-image{
        
        width: 100%;
    }
    .selected-image img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        padding: 10px;
    }
    .small-images{
        
        width: 100%;
    }
    .small-images div{
        width: 15%;
    }
    .small-images div img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .add-to-basket button{
        background-color: rgb(218, 129, 27);
        border: none;
        border-radius: 5px;
        padding: 10px;
        color: white;
        font-size: 30px;
        width: 90%;
        cursor: pointer;
    }
    .add-to-basket button:hover{
        background-color: rgb(151, 85, 8);
    }
    .favorite{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10%;
        border: 1px solid;
        color: gray;
        border-radius: 100px;
        cursor: pointer;
    }
    .favorite i{
        font-size: 25px;
    }
    .favorite i:hover{
        color: rgb(218, 129, 27);
    }
    .title-product{
        font-size: 25px;
        font-weight: bold;
    }
    .price{
        display: flex;
        justify-content: center;
        border-radius: 5px;
        padding: 10px;
        width: 40%;
        overflow: hidden;
        font-size: 25px;
    }
    .coupon-area{
        font-size: 20px;
        cursor: pointer;
        border: 1px solid rgb(175, 175, 175);
        border-radius: 5px;
        padding: 5px;
    }
    .coupon-area i{
        font-size: 20px;
    }
    .coupon-area:hover .right{
        color: orange;
    }
    .route-firm{
        cursor: pointer;
        font-size: 20px;
    }
    .route-firm:hover{
        color: rgb(218, 129, 27);
    }
</style>