<div class="card flex justify-content-center">
    <p-toast />

    <p-table
        #dt
        [value]="productList"
        [rows]="10"
        [paginator]="true"
        [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
        [tableStyle]="{ 'min-width': '20rem' }"
        [(selection)]="selectedProducts"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="{totalRecords} Kayıttan {first} ile {last} arası gösteriliyor."
        [showCurrentPageReport]="true"
        class="w-9"
    >
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between"  style="height: 50px;">
                <div>
                    <button class="addproduct-button" routerLink="/company/product/addproduct">
                        <i class="pi pi-plus"></i>
                        Ürün Ekle
                    </button>
                    <style>
                        .addproduct-button{
                            background-color: rgb(92, 226, 92);
                            border: none;
                            border-radius: 5px;
                            padding: 3px;
                            font-size: 16px;
                            color: white;
                            cursor: pointer;
                        }
                        .addproduct-button:hover{
                            background-color: rgb(35, 94, 35);
                        }
                    </style>
                </div>
                <div class="flex flex-row align-items-center">
                    <i class="pi pi-search"></i>
                    <input
                        class="ml-1 h-2rem"
                        pInputText 
                        type="text" 
                        (input)="onFilter($event)" 
                        placeholder="Search..." />
                </div>
            </div>
            <!-- $event.target.value -->
        </ng-template>
        
        <ng-template pTemplate="header">
            <tr class="h-3rem">
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox />
                </th>
                <th pSortableColumn="name" style="min-width:15rem">
                    Ürün Adı <p-sortIcon field="name" />
                </th>
                <th>
                    Açıklama
                </th>
                <th pSortableColumn="price">
                    Fiyat <p-sortIcon field="price" />
                </th>
                
                <th pSortableColumn="price" style="min-width:10rem">
                    Stok <p-sortIcon field="price" />
                </th>
                <th></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-product>
            <tr class="h-4rem">
                <td>
                    <p-tableCheckbox [value]="product" />
                </td>
                <td>
                    {{ product.name }}
                </td>
                <td>
                    {{ product.description }}
                </td>
                <td>
                    {{ product.price | currency : 'TRY ' }}
                </td>
                <td>
                    {{ product.stock }}
                </td>
                
                <td class="">
                    <p-button 
                        icon="pi pi-pencil" 
                        class="mr-2" 
                        [rounded]="true" 
                        [outlined]="true" 
                        severity="success" 
                        (onClick)="editProduct(product)" />
                        <p-button 
                        icon="pi pi-percentage" 
                        class="mr-2" 
                        [rounded]="true" 
                        [outlined]="true" 
                        severity="primary" 
                        (onClick)="openAssignDialog(product.productId)" />
                    <p-button 
                        icon="pi pi-trash" 
                        severity="danger" 
                        [rounded]="true" 
                        [outlined]="true" 
                        (onClick)="deleteproduct(product)" />
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                Toplam {{ productList ? productList.length : 0 }} ürün.
            </div>
        </ng-template>
    </p-table>

    <p-dialog 
        [(visible)]="productDialog" 
        [style]="{ width: '450px' }" 
        header="product Details" 
        [modal]="true" 
        styleClass="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="name">İsim</label>
                    <input 
                        type="text" 
                        pInputText 
                        id="name" 
                        [(ngModel)]="product.name" 
                        required 
                        autofocus />
                    <small class="p-error" *ngIf="submitted && !product.name">
                        Name is required.
                    </small>
                </div>

                <div class="field">
                    <label for="description">Açıklama</label>
                    <textarea 
                        id="description" 
                        pInputTextarea 
                        [(ngModel)]="product.description" 
                        required 
                        rows="3" 
                        cols="20">
                    </textarea>
                </div>

                <div class="formgrid grid">
                    <div class="field col">
                        <label for="price">Fiyat</label>
                        <p-inputNumber 
                            id="price" 
                            [(ngModel)]="product.price" 
                            mode="currency" 
                            currency="USD" 
                            locale="en-US" />
                    </div>
                    <div class="field col">
                        <label for="quantity">Stok</label>
                        <p-inputNumber 
                            id="quantity" 
                            [(ngModel)]="product.stock" />
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <p-button 
                    label="Cancel" 
                    icon="pi pi-times" 
                    [text]="true" 
                    (onClick)="hideDialog()" />
                <p-button
                    label="Save" 
                    icon="pi pi-check" 
                    [text]="true" 
                    (onClick)="saveproduct()" />
            </ng-template>
    </p-dialog>


    <p-dialog 
  header="Ürüne İndirim Ata" 
  [(visible)]="displayAssignDialog" 
  [modal]="true" 
  [closable]="true" 
  [responsive]="true" 
  [style]="{width: '25vw', height: 'auto', 'max-height': '80vh'}" 
  [contentStyle]="{'overflow': 'auto'}">
    <form [formGroup]="assignForm" (ngSubmit)="onAssignDiscount()"
        class="flex p-fluid p-5 gap-4">
        
        <p-dropdown 
            formControlName="selectedDiscount" 
            [options]="discounts" 
            optionLabel="discountCode"
            placeholder="İndirim Seçiniz" 
            class="w-full"
            [appendTo]="'body'">
        </p-dropdown>

        <button pButton type="submit" label="İndirimi Ata" class="p-button-success p-2"></button>
    </form>
</p-dialog>

    <p-confirmDialog [style]="{ width: '450px' }" />
</div>