@import '../node_modules/primeng/resources/primeng.css';
@import '../node_modules/primeicons/primeicons.css';
@layer reset, primeng;

@layer reset {
  button {
    &:focus {
      box-shadow: none;
    }
  }

  * {
    margin: 0;
    padding: 0;
  }
}

/* Dark mode için global tanımlama */
.dark-mode {
  /* Genel arka plan */
  color: #fff;
  /* Genel yazı rengi */
}

/* dark:text-white ve dark:bg-gray-800 benzeri sınıflar */
.dark-mode .dark\:text-white {
  color: #fff;
}

.dark-mode .dark\:bg-gray-800 {
  background-color: #444;
  color: #fff;
}

.dark-mode .dark\:bg-green-500 {
  background-color: #28a745;
  /* Yeşil buton rengi */
}

.dark-mode .dark\:text-black {
  color: #000;
}
